@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 69% 11%;
    --foreground: 225 67% 88%;
    --card: 212 63% 18%;
    --card-foreground: 225 67% 88%;
    --popover: 212 63% 18%;
    --popover-foreground: 225 67% 88%;
    --primary: 168 100% 70%;
    --primary-foreground: 210 69% 11%;
    --secondary: 213 50% 25%;
    --secondary-foreground: 225 67% 88%;
    --muted: 213 38% 31%;
    --muted-foreground: 223 36% 74%;
    --accent: 168 100% 70%;
    --accent-foreground: 210 69% 11%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 212 49% 28%;
    --input: 209 49% 22%;
    --ring: 168 100% 70%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 69% 11%;
    --foreground: 225 67% 88%;
    --card: 212 63% 18%;
    --card-foreground: 225 67% 88%;
    --popover: 212 63% 18%;
    --popover-foreground: 225 67% 88%;
    --primary: 168 100% 70%;
    --primary-foreground: 210 69% 11%;
    --secondary: 213 50% 25%;
    --secondary-foreground: 225 67% 88%;
    --muted: 213 38% 31%;
    --muted-foreground: 223 36% 74%;
    --accent: 168 100% 70%;
    --accent-foreground: 210 69% 11%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 212 49% 28%;
    --input: 209 49% 22%;
    --ring: 168 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
